In [41]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [42]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-09 00:34:04,-23.1203,-134.9692,79.14,74,11,17.05
1,1,Busselton,AU,2022-04-09 00:34:05,-33.6500,115.3333,61.02,59,23,10.47
2,2,Nador,MA,2022-04-09 00:29:15,35.1740,-2.9287,66.45,37,0,19.57
3,3,Papara,BR,2022-04-09 00:34:05,-3.9839,-38.7273,75.69,96,90,2.35
4,4,Vaini,TO,2022-04-09 00:34:06,-21.2000,-175.2000,87.96,70,40,4.61

In [43]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [44]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
#gmaps.configure(api_key="AIzaSyBFLI5ACtV7QzDJ_7qR_th_YIxnlV-gEbw")

In [45]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [46]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [51]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-09 00:34:04,-23.1203,-134.9692,79.14,74,11,17.05
3,3,Papara,BR,2022-04-09 00:34:05,-3.9839,-38.7273,75.69,96,90,2.35
4,4,Vaini,TO,2022-04-09 00:34:06,-21.2000,-175.2000,87.96,70,40,4.61
6,6,Pasni,PK,2022-04-09 00:34:06,25.2631,63.4710,78.35,82,100,10.65
14,14,Avarua,CK,2022-04-09 00:34:08,-21.2078,-159.7750,86.05,74,40,13.80
15,15,Aswan,EG,2022-04-09 00:34:09,24.0934,32.9070,87.10,12,0,10.36
17,17,Victoria,HK,2022-04-09 00:29:32,22.2855,114.1577,75.25,69,0,15.99
21,21,Bambous Virieux,MU,2022-04-09 00:34:10,-20.3428,57.7575,76.21,94,75,13.80
29,29,Kismayo,SO,2022-04-09 00:34:14,-0.3582,42.5454,79.97,77,24,11.79
31,31,Atuona,PF,2022-04-09 00:34:15,-9.8000,-139.0333,79.74,77,99,17.43

In [52]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [53]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Rikitea      PF     79.14 -23.1203 -134.9692
3            Papara      BR     75.69  -3.9839  -38.7273
4             Vaini      TO     87.96 -21.2000 -175.2000
6             Pasni      PK     78.35  25.2631   63.4710
14           Avarua      CK     86.05 -21.2078 -159.7750
15            Aswan      EG     87.10  24.0934   32.9070
17         Victoria      HK     75.25  22.2855  114.1577
21  Bambous Virieux      MU     76.21 -20.3428   57.7575
29          Kismayo      SO     79.97  -0.3582   42.5454
31           Atuona      PF     79.74  -9.8000 -139.0333

In [59]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [60]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [61]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,79.14,-23.1203,-134.9692,People ThankYou
3,Papara,BR,75.69,-3.9839,-38.7273,Bela vista Maranguape
4,Vaini,TO,87.96,-21.2000,-175.2000,Keleti Beach Resort
6,Pasni,PK,78.35,25.2631,63.4710,Kashmiri Hotal
14,Avarua,CK,86.05,-21.2078,-159.7750,Paradise Inn
15,Aswan,EG,87.10,24.0934,32.9070,Nuba Nile
17,Victoria,HK,75.25,22.2855,114.1577,Mini Hotel Central
21,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
29,Kismayo,SO,79.97,-0.3582,42.5454,Agan-Hotel
31,Atuona,PF,79.74,-9.8000,-139.0333,Villa Enata

In [62]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [64]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))